.business-container{
    min-height: 100vh;
    height: 100%;
    background: var(--background-gradient);
    color: var(--text-color);
    margin-top: -23px;
    text-align: center;
    padding-bottom:1rem;
}

.heading-business{
    padding-top: 1rem;
}

.cover-container{
    display: flex;
    justify-content: center;
}

.business-cover{
    width: 50%;
    height: 400px;
}

.business-info{
    display: flex;
    justify-content: space-around;
}

.business-info p{
    font-size: large;
}

.business-info-main{
    width: 65%;
    margin: 0 auto;
    padding: 25px;
    background-color: var(--form-background);
    border-radius: 15px;
    border: 2px solid var(--border-color);
}

.staff-table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.staff-table table ,.staff-table td ,.staff-table tr,.staff-table th{
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    padding: 8px;
}

.staff-table button{
    margin-bottom: 1rem;
}
