.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: var(--background-gradient);
}

.form-log {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    border: 2px solid var(--border-color);
    padding: 25px;
    border-radius: 15px;
    background-color: var(--form-background);
}

.form-log input {
    margin: 1rem;
}

.login-btn {
    width: inherit;
    height: 30px;
    width: 260px;
    font-size: large;
}

.input-field {
    height: 30px;
    width: 250px;
    font-size: large;
}

.user-icon{
    background: var(--secondary-text);
    width: 80px;
    height: 80px;
    border: 2px solid var(--border-color);
    border-radius: 100px;
    margin: 1rem;
}

.signup-para{
    color: var(--secondary-text);
    cursor: pointer;
}

.email-icon{
    position: relative;
    left: -40%;
}

.form-btn{
    margin-top: 1rem;
}

@media screen and (max-width : 550px) {
    .input-field {
        width: 180px;
    }

    .login-btn {
        width: 190px;
    }
}