.accordion {
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.accordion-header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header:hover {
  background-color: var(--secondary-background-color);
}

.accordion-content {
  padding: 10px 20px;
  background-color: (255, 255, 255, 0.4);
  cursor: pointer;
  /* max-height: 0;
  overflow: hidden; */
  transition: 0.3s ease-in-out;
}

.accordion-content p {
  margin: 0;
  color: var(--text-color);
}

.accordion-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.accordion-actions button {
  margin-left: 10px;
}

.accordion-container{
  background-color: var(--background-gradient);
}