/* SideNav.css */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.open {
    width: 215px;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
}

.menu-icon-container {
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
    transition: background-color 0.3s ease-in-out;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-container:hover {
    background-color: var(--secondary-color);
}

.nav-links , .nav-links-ur {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
}

.nav-links li , .nav-links-ur li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
    transition: background-color 0.3s ease-in-out;
}

.nav-links li:hover , .nav-links-ur li:hover {
    background-color: var(--background-color);
}

.nav-links li svg , .nav-links-ur li svg {
    margin-right: 3px;
}

.nav-links li p , .nav-links-ur li p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li p svg {
    margin-right: 10px;
}

.nav-links-ur li p svg{
    margin-left: 10px;
}

.sidebar.open .nav-links li {
    justify-content: flex-start;
    padding-left: 20px;
}

.sidebar.open .nav-links-ur li {
    justify-content: flex-start;
    padding-right: 20px;
}

.sidebar.open select{
    width: 180px;
}