.signup-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: var(--background-gradient);
}

.form-log{
    padding: 5px;
}

.input-div{
    display: flex;
    justify-content: center;
}

.signup-form input{
    margin: 1rem;
}

.signup-btn{
    width: inherit;
    height: 15%;
}

@media screen and (max-width : 550px) {
    .input-div{
        flex-direction: column;
    }
    
}