.input{
    height: 30px;
    width: 250px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background-color: transparent;
    font-size: large;
    color: white;
    padding-left: 2rem;
}

.input::placeholder{
    font-size: large;
    color: rgb(186, 178, 178);
    /* padding-left: 0.5rem; */
}

.label{
    text-align: left;
}

.email-icn{
    position: relative;
    top: 6px;
    left: -88%;
}

.password-icn{
    position: relative;
    left: -88%;
    top: 5px;
}

@media screen and (max-width : 550px) {
    .input{
        width: 180px;
    }
}