.background {
    min-height: 100vh;
    height: 100%;
}

.heading-invoice {
    color: var(--text-color);
    text-align: center;
    padding-top: 1rem;
}

.invoice-select {
    width: auto;
    background-color: var(--form-background);
    color: var(--text-color);
    font-size: large;
}

.select-item-tax {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.date-payment-info {
    display: flex;
    justify-content: space-between;
}

.item-select-table {
    border-bottom: 1.35px solid var(--border-color);
    border-top: 1.35px solid var(--border-color);
    border-collapse: collapse;
    padding: 8px;
}

.item-select-table tr {
    border-bottom: 1px solid var(--border-color);
    padding: 8px;
}

.item-select-table td {
    padding: 8px;
}

.item-select-table tr {
    border: none;
}

/* .no-border {
    border: none;
} */

.bank-terms {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.bank-term-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.no-border-bottom {
    border: none;
    border-bottom: 1.35px solid var(--border-color);
}

/* ------------------------------------------------------------------------------------------------------------------------ */

.pdf-content {
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 20px;
    margin: 2rem;
}

.pdf-content input{
    font-size: 14px;
    text-align: center;
    color: black;
    /* margin-top: -120px; */
    border: none;
}

.pdf-content .item-select-table {
    border-bottom: 1.35px solid black;
    border-top: 1.35px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.pdf-content .item-select-table tr {
    border-bottom: 1px solid black;
    padding: 8px;
}

.pdf-content .item-select-table td {
    padding: 8px;
}

.pdf-content .item-select-table tr {
    border: none;
}

/* .no-border {
    border: none;
} */

.pdf-content .bank-terms {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pdf-content .bank-term-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pdf-content .no-border-bottom {
    border: none;
    border-bottom: 1.35px solid black;
}
